.aboutUs {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 5rem;
      text-transform: uppercase;
      color: #fff;
      background-color: #d12881;
      padding: 1rem 3rem;
      line-height: 60px;
      border-radius: 50%;
      display: inline-block;
      font-weight: 900;
      transform-origin: left center;
      transform: rotate(3deg);
    }
    .aboutUs_wrapper {
      .about_top {
        .carousel-control-next-icon, .carousel-control-next-icon {
          display: none;
        }
        .carousel-control-prev-icon, .carousel-control-prev-icon {
          display: none;
        }
        
        margin-bottom: 5rem;
        .about_left {
          img {
            border-radius: 50%;
            border: solid 7px #34327c;
            height: 350px;
            width: 100px;
          }
        }
        .about_right {
          h3 {
            font-family: "Alegreya sans", serif;
            color: #333;
            font-weight: 800;
            font-size: 43px;
            margin-top: 0px;
            margin-bottom: 20px;
          }
          
        }
      }
      .about_cards_wrapper {
        margin-bottom: 5rem;
        .about_card {
          text-align: center;
        }
      }
      .about_paper {
        padding: 2rem;
        background: url("../../../assets/images/home/about/lined_paper.png");
        border: dashed 2px rgba(128, 128, 128, 0.384);
        h3 {
          font-family: "Alegreya sans", serif;
          color: #333;
          font-weight: 800;
          font-size: 2.6rem;
          margin-bottom: 2rem;
        }
        .carousel-control-next-icon, .carousel-control-next-icon {
          margin-right: -5rem;
          background-color: #D12881;
          padding: 1rem;
          border-radius: .5rem;
          
        
        
        }
        .carousel-control-prev-icon, .carousel-control-prev-icon {
          margin-left: -5rem;
          background-color: #D12881;
          padding: 1rem;
          border-radius: .5rem;
          
        }
      }
    }
  }
  .item_parent {
    img {
      display: inline-block;
      border-radius: 50%;
      margin: 1rem auto;
      box-shadow: 6px 6px 0px rgb(103 102 102 / 20%);
  
    }
  }
  