.services {
  text-align: center;
  margin-bottom: 5rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #d12881;
    padding: 1rem 3rem;
    line-height: 60px;
    border-radius: 50%;
    display: inline-block;
    font-weight: 900;
    transform-origin: left center;
    transform: rotate(3deg);
  }
  .services_wrapper {
    .serve_left {
      h3 {
        font-family: "Alegreya sans", serif;
        color: #333;
        font-weight: 800;
        font-size: 43px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      p {
        margin-top: 2rem;
      }
    }
  }
  .serve_cards_wrapper {
    .serve_card {
      margin: 2rem auto;
      transition: 300ms;
      cursor: pointer;

      &:hover {
        box-shadow: 6px 6px 0px rgb(103 102 102 / 20%);
        transform: translate(0, -1.5rem);
      }
      &:hover h4 {
        background-color: orange;
      }
      img {
        border-radius: 50%;
        box-shadow: 6px 6px 0px rgb(103 102 102 / 20%);
        display: block;
        width: 100%;
      }
      h4 {
        text-align: center;
        position: relative;
        transition: background 0.5s ease-out;
        background-color: #34327c;
        padding: 15px;
        border-radius: 10px;
        color: #fff;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
  .serve_botton {
    background: url("../../../assets//images/home/services/visit/gif.gif");
    background-repeat: no-repeat;
    .serve_botton_left {
      padding: 2rem;
      h3 {
        font-family: "Alegreya sans", serif;
        color: #333;
        font-weight: 800;
        font-size: 43px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 2rem;
      }
      a {
        background-color: #d12881;
        font-weight: 700;
        color: #fff;
        padding: 0.75rem;
        text-decoration: none;
        border-radius: 86% 14% 90% 10% / 12% 88% 12% 88%;
        transition: 300ms;
        &:hover {
          background-color: orange;
        }
      }
    }
  }
}
