.watch-wrapper {
  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34327c1d;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid;
    .info {
      display: flex;
      align-items: center;
      .video-info {
        .video-title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
