Form {
  .login {
    background-color: #d12881;
  }

  .log {
    background-color: #d12881;
    border: 0;
    transition: all .5s;

    &:hover {
      transform: scale(1.2);
      background-color: #d12881;
    }
  }
}